<app-nav-bar></app-nav-bar>

<div class="book-view" style="display: flex">

  <mat-card *ngFor="let book of books; let i = index" style="flex: 1 1 auto">
    <mat-card-header>
      <mat-card-title class="books-title">{{ book.title }}</mat-card-title>
      <mat-card-subtitle>Authored by:
        <button mat-button (click)="
            openAuthorDialog(
              book.author.name,
              book.author.bio,
              book.author.birth
            )
          " color="primary">
          {{ book.author.name }}
        </button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="openDetailsDialog(book.title, book.description)" color="primary">
        Summary
      </button>
      <button mat-button (click)="openGenreDialog(book.genre.name, book.genre.description)" color="primary">
        Genre
      </button>
      <button mat-button class="mat-icon-button" *ngIf="!isFav(book._id)" (click)="addToFavorites(book._id)"
        color="primary">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button mat-button class="mat-icon-button" *ngIf="isFav(book._id)" (click)="removeFromFavorites(book._id)"
        color="primary">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

</div>


<!-- <
    <mat-card-actions>
      <button
        mat-button
        class="mat-icon-button"
        *ngIf="!isFav(book._id)"
        (click)="addToFavorites(book._id)"
        color="primary"
      >
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button
        mat-button
        class="mat-icon-button"
        *ngIf="isFav(book._id)"
        (click)="removeFromFavorites(book._id)"
        color="primary"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card> -->