<p>author works!</p>
<mat-card class="author-dailog">
  <mat-card-title class="author-dialog-title">{{data.name}}</mat-card-title>
  <br />
  <mat-dialog-content class="author-dialog-content">
    <b>
      birthday:
    </b>{{data.birthday}}
    <br />
    <b>bio</b>{{data.bio}}
  </mat-dialog-content>
  <mat-card-actions class="author-actions">
    <button class="author-close-button" mat-stroked-button aria-label="close author details button" mat-dialog-close
      color="primary">x</button>
  </mat-card-actions>
</mat-card>