<p>profile-page works!</p>
<div class="profile-page">
  <mat-card class="profile-card">
    <mat-card-header>
      <mat-card-title>Here are your Details {{ updatedUser.username}}</mat-card-title>

    </mat-card-header>
    <mat-card-content class="profiel-card-content">
      <form>

        <!-- username input -->
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
          matInput
          [(ngModel)]="updatedUser.username"
          value="{{updatedUser.username}}"
          type="text"
          name="Username"
          required
          />
        </mat-form-field>

        <!-- password input -->
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
          matInput
          [(ngModel)]="updatedUser.password"
          value="{{updatedUser.password}}"
          type="text"
          name="Password"
          required
          />
        </mat-form-field>

        <!-- email update -->
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
          matInput
          [(ngModel)]="updatedUser.email"
          value="{{updatedUser.email}}"
          type="text"
          name="Email"
          required
          />
        </mat-form-field>

        <!-- birth day update -->

        <mat-form-field>
          <mat-label>Birthday</mat-label>
          <input
          matInput
          [(ngModel)]="updatedUser.birthday"
          value="{{updatedUser.birthday}}"
          type="text"
          name="Birthday"
          required
          />
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions class="profiel actions">
      <button mat-raised-button (click)="updateUserInfo()" color="basic">
        <mat-icon>edit</mat-icon>
        Update Profile
      </button>
      <button mat-raised-button (click)="deleteAccount()" color="warn">
        <mat-icon>delete_forever</mat-icon>
        Delete Account
      </button>
    </mat-card-actions>
  </mat-card>
</div>